body {
    background-color: #99dacc;
    font-family: Helvetica, sans-serif;
  }
  
  .App {
    text-align: center;
    padding-bottom: 85px;
    font-family: 'Poppins', sans-serif;
  }
  

  a.Recipe-link {
    color:darkslategrey;
    padding-top: 75%;
  }